.form {
    min-height: 100%;
    padding-bottom: 5%;
}

.card-meteo {
    height: 195px;
}

strong {
    font-weight: 700 !important;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

input {
    background-color: #f5f5f5 !important;
    padding-left: 8px !important;
}
